{% extends "base.html" %}
{% block title %}(-(-_(-_-)_-)-){% endblock %}
{% block content %}

<h1 class="mt-3 text-danger">Server Error &#128035; &#128009;</h1>
  <div class="p-5 bg-dark rounded"><div class="row">
    <div class="col">
	  <p class="fs-5 mx-3 text-warning">{{ e.description }}</p>
      <p class="fs-5 ms-3 text-warning">
	    <a href="https://github.com/NBPub/CO_PetAdopt/issues/new" class="text-decoration-none fw-bold">Submit an issue</a> to help.
	  </p>
    </div>
	<div class="col">
	  <a href="https://www.instagram.com/miruyuki/">
	    <img src="https://i.gifer.com/CD0.gif" class="img-fluid" title="https://www.instagram.com/miruyuki/"/>
	  </a>
	  <p class="text-muted">Miruyuki</p>
	</div>	
  </div></div>
  <footer class="border-top fixed-bottom bg-white" style="font-size:10pt;">
    <p class="text-center mt-2"><a href="https://github.com/NBPub/CO_PetAdopt/issues/new">
	<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="height:24px;" />
	</a></p>
  </footer>
{% endblock %}


