{% extends "base.html" %}
{% block title %}ლ(ಠ益ಠლ)╯{% endblock %}
{% block content %}

<h1 class="mt-3 text-danger">Invalid URL &#127812; &#128018;</h1>
  
  <div class="row bg-dark rounded">
    <p class="fs-5 ms-3 text-info">{{ e.description }}</p>
	<div class="col-6"><a href="https://www.instagram.com/miruyuki/">
	  <video autoplay muted loop class="img-fluid rounded">
	    <source src="https://thumbs.gfycat.com/DamagedGiddyInsect-mobile.mp4" type="video/mp4">
	  </video>	
	</a></div>
	<div class="col-6"><a href="https://v.redd.it/z39de1fwr2r21/DASH_480?source=fallback">
	  <video autoplay muted loop class="img-fluid rounded">
	    <source src="https://thumbs.gfycat.com/FinishedTenseGroundhog-mobile.mp4" type="video/mp4">
	  </video>	
	</a></div>	
  </div>  
{% endblock %}


