{% extends "base.html" %}
{% block title %}Pet Adoption Table{% endblock %}
{% block content %}

<h1>
  Pet Adoption Table
</h1>
<div class="mx-3 mt-3">
  <div class="row row-cols-auto my-3">
    <div class="col"></div>
	<div class="col"><div class="btn-group-vertical btn-group-sm" role="group">
	  <a target="_blank" title="Raw CSV export." href="{{ url_for('download_table', extension='csv') }}" class="btn btn-danger border-danger-subtle">CSV</a>
	  <a target="_blank" title="Raw XML export." href="{{ url_for('download_table', extension='xml') }}" class="btn btn-warning border-warning-subtle">XML</a>
	  <a target="_blank" title="Raw XLSX export." href="{{ url_for('download_table', extension='xlsx') }}" class="btn btn-success border-success-subtle">XLSX</a>
	  <a target="_blank" title="Raw Parquet export." href="{{ url_for('download_table', extension='parquet') }}" class="btn btn-primary border-primary-subtle">Parquet</a>
	</div></div>
	<div class="col"><div class="btn-group-vertical btn-group-sm" role="group">
	  <span class="fw-bold mb-1">Download data:</span>
	  <a target="_blank" title="Raw HTML export." href="{{ url_for('download_table', extension='html') }}" class="btn btn-light border-dark-subtle">HTML</a>
	  <a target="_blank" title="As seen on this page. Uses Bootstrap classes." href="{{ url_for('download_table', extension='html_f') }}" class="btn btn-dark border-muted">HTML (formatted)</a>
	  <span class="text-muted fs-6 mt-2">{{ updated.strftime('%x %X') }}</span>
	</div></div>
  </div>	
  <div class="row rounded bg-dark"><div class="table-responsive" style="max-height:90vh;">
	  {% include 'tables/all_pets_table.html' %}<br>
  </div></div>
</div>
{% endblock %}

{% block script_additions %}
{% endblock %}